body {
  font-family: "Montserrat", serif;
  text-align: center;
  overflow-x: clip;
}

/* Navigation Bar */
.navbar {
  margin: 0 0 1rem;
}
.navbar-brand {
  margin-left: 12rem;
  margin-top: 5rem;
  font-weight: 800;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 30px;
}
.nav-link {
  font-size: 1.2rem;
}
#navbarTogglerDemo02 {
  margin-top: 65px;
  margin-right: 3rem;
}

/* Download Button */

.dowload-button {
  margin: 5% 3% 5% 0;
}
/* Headings */

h1,
h2,
h3 {
  font-weight: bold;
}

/* Color Section */

.white-section {
  background-color: #eaf6f6;
  color: #40514e;
}
.blue-section {
  background-color: #03a696;
  color: #eaf6f6;
}
/* Title Section */

#title {
  height: 44rem;
  text-align: left;
}
.title-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15%;
}
.wave-logo {
  position: absolute;
  width: 30rem;
  z-index: 1;
}
.fab {
  margin-right: 10px;
}

/* Features Section */

#features {
  position: relative;
  padding: 7% 15%;
  z-index: 2;
}
.feature-box {
  padding: 30px;
}
#features p {
  color: #66bfbf;
}
.feature-section {
  padding: 0;
}
.feature-icon {
  font-size: 5rem;
  margin-bottom: 2rem;
}
.feature-icon:hover {
  color: #ff5722;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}
.pricing-column {
  padding: 3% 2%;

}
.pricing-p {
  color: #025e73;
}


/* Call to Action Section */

#cta {
  padding: 50px;
  line-height: 2;
  color: #40514e;
}
.dowload-button-cta {
  margin: 2%;
}
.h3-cta {
  width: 40%;
  margin: auto;
}

/* Footer Section */

#footer {
  padding: 20px;
  margin-top: 30px;
}
.footer-icon {
  margin-bottom: 20px;
}
.footer-icon:hover {
  color: #ff5722;
}
#footer.white-section{
margin: 0;
}
/* Media Queries */
@media (max-width: 1280px) {
  .wave-logo {
    width: 28rem;
  }
}
@media (max-width: 1200px) {
  .wave-logo {
    width: 26rem;
  }
}
@media (max-width: 1180px) {
  .wave-logo {
    width: 24rem;
  }
}
@media (max-width: 1100px) {
  .wave-logo {
    width: 22rem;
  }
}
@media (max-width: 1054px) {
  .wave-logo {
    width: 20rem;
    position: static;
  }
}
@media (min-width: 350px) and (max-width: 992px) {
  #title {
    text-align: center;
    height: 56rem;
  }
  .navbar-brand {
    margin-left: auto;
    margin-right: auto;
  }
}
